<header class="text-center">
</header>

<nav class="indigo lighten-1">
  <ul id="slide-out" class="side-nav fixed">
      <li class="bold"><a href="/auth/github" class="waves-effect waves-teal">Login with Github</a></li>
      <li class="bold"><a href="/marker" class="waves-effect waves-teal">Create a New Marker</a></li>
      <li class="bold"><a href="/logout" class="waves-effect waves-teal">Logout</a></li>
{{!-- begin modification --}}
<div class="hidden" id="masterMarkerDiv">
  {{#each theGoogleMarkers}}
  <div class="marker info">A Wild Marker Appears
    <h4 class="markerCreator">{{this.name}}</h4>
    <h4 class="markerLat">{{this.lat}}</h4>
    <h4 class="markerLng">{{this.lng}}</h4>
    <h4 class="markerTitle">{{this.title}}</h4>
    <h4 class="markerCreatedAt">{{this.createdAt}}</h4>
  </div>
  {{/each}}
  </div>
{{!-- end midification --}}
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
  </div>
    </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

<main>
{{!-- <div class="container text-center"> --}}
  <div id="map_container">
  	<div id="map"></div>
      <div id="message_box">
      <ul id="messages"></ul>
        <div id="messageInputBox">
          <form action="">
            <input id="m" autocomplete="off" /><button>Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{!-- </div> --}}

</main>
</div>{{!-- end main_container --}}

<footer>
</footer>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeD-FTSWUQZoG3uMwf3hvFHl5J3pk31yc&v=3&callback=initMap"></script>
<script src="/assets/javascript/maps.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/assets/javascript/chat.js"></script>
    <script>console.log("maps async defer loaded");</script>
