<!--<h1>Users Page</h1>
{{#each users}}
<p>Name: {{name}}</p>
<p>Email: {{email}}</p>
<p>Password: {{password}}</p>
<a href="/{{id}}/listings">{{name}}'s listings</a>
<br>
{{/each}}
-->

<!-- 

<form action="/users/{{id}}/listings/add" method="post">
    Title: <input type="text" name="newtitle" />
    <br>
    Price: <input type="text" name="newprice" />
    <br>
    Desc: <input type="text" name="newdesc" />
    <input type="submit" value="Add Item" />
</form>
-->

<h1>New Users Page</h1>
<form action ="/users/create" method="post">
name: <input type = "text" name="newname" />
<br>
email: <input type = "text" name="newemail" />
githubID: <input type = "text" name="newgithub" />
languages: <input type = "text" name="newlang" />
rating: <input type = "integer" name="rating" />
userName: <input type = "text" name="newusername" />
password: <input type = "text" name="newpass" />
<input type="submit" value="Add Item" />
</form>


